CREATE PROCEDURE [dbo].[sp_GL_RECORD_LOG]
(
 @AN SMALLINT,
 @LUNA SMALLINT,
 @OBJECT_NAME CHAR(100),
 @MESAGE_TYPE VARCHAR(30),
 @MESAGE_TEXT VARCHAR (2000)
)
AS
BEGIN ;
				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @DATA_RUN DATETIME ;
				DECLARE @USER_RUN CHAR(10);
				DECLARE @TEST_MESAGE_TYPE FLOAT;

				SET		@DATA_RUN=switchoffset(getdate(),'+03:00') ;
				SET		@USER_RUN=CURRENT_USER ;

				CREATE TABLE #TEMP ( MESAGE_TYPE  VARCHAR (30) ) 
				INSERT INTO #TEMP 
				SELECT 'INFORMARE'  AS MESAGE_TYPE
				UNION ALL 
				SELECT 'AVERTIZARE' AS MESAGE_TYPE
				UNION ALL
				SELECT 'EROARE' AS MESAGE_TYPE

				SELECT @TEST_MESAGE_TYPE=COUNT(MESAGE_TYPE) FROM #TEMP WHERE MESAGE_TYPE=@MESAGE_TYPE ;

				IF @AN IS NOT NULL AND @LUNA IS NOT NULL AND @OBJECT_NAME IS NOT NULL AND  @TEST_MESAGE_TYPE>0 
					BEGIN
						INSERT INTO dbo.GL_LOG_C ( AN, LUNA, OBJECT_NAME , DATA_RUN, USER_RUN, MESAGE_TYPE, MESAGE_TEXT )
						VALUES ( @AN, @LUNA, @OBJECT_NAME, @DATA_RUN, @USER_RUN, @MESAGE_TYPE, @MESAGE_TEXT )
					END;
				ELSE 
					BEGIN
						DECLARE @MSG VARCHAR(100);
						SET		 @MSG = ' AN / LUNA / NUME TABEL / MESAJ TEXT  NU  POATE FII NULL  !' ;
						PRINT      @MSG 
					END;

END;
GO
