CREATE PROCEDURE [dbo].[sp_GL_R_LUNAR]
(
@AN SMALLINT,
@LUNA SMALLINT 
)
AS
BEGIN ;

		SET XACT_ABORT , NOCOUNT ON;

		DECLARE @PARAMDEFINITON NVARCHAR(2000);
		DECLARE @SQLQUERY NVARCHAR(MAX);

		SET @PARAMDEFINITON =N'@AN SMALLINT, @LUNA SMALLINT ';

		SET @SQLQUERY= N'SELECT * FROM GL_MD WHERE AN=@AN AND LUNA=@LUNA' ;

		Execute sp_Executesql  @SQLQUERY, @PARAMDEFINITON, @AN, @LUNA ;

END;

GO
