CREATE PROCEDURE [dbo].[sp_GL_P_CANT_B2B]
( 
@AN SMALLINT,
@LUNA SMALLINT
)
AS
BEGIN

	SET NOCOUNT ON;

	SET XACT_ABORT , NOCOUNT ON;
	
				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				DECLARE @MSG VARCHAR(100);
				DECLARE @SGM_GROUP CHAR(10) ;

				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;
				SET     @MSG ='START PROCESARE CANTITATE B2B !';
				SET     @SGM_GROUP='B2C';

				EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

	BEGIN TRY ;
	
-- => MAPPING
	
	BEGIN TRAN ;
			
			UPDATE GL_INT_CANT_B2B
			SET    FURNIZOR_NOU_ANTERIOR_TEXT='NEALOCAT'
			WHERE  FURNIZOR_NOU_ANTERIOR_TEXT='' OR FURNIZOR_NOU_ANTERIOR_TEXT IS NULL


			UPDATE tgt
			SET    FURNIZOR_NOU_ANTERIOR_TEXT= src.FURNIZOR_NOU_ANTERIOR_TEXT,
				   MOTIVMOV_OUT_IN_TEXT= src.MOTIVMOV_OUT_IN_TEXT,
				   REGIUNEPORTOFOLIU=src.REGIUNE_PORTOFOLIU,
				   TIP_PA=src.TIP_PA,
				   CONSUM_AN= src.CONSUM_AN
			FROM   GL_MD tgt, GL_INT_CANT_B2B src
			WHERE  tgt.TIP_SURSA=src.TIP_SURSA			AND
				   tgt.INSTALATIE=src.INSTALATIE		AND
				   tgt.AN=@AN							AND
				   tgt.LUNA=@LUNA						AND
				   tgt.SEGMENTGROUP!=@SGM_GROUP			AND
				   tgt.MOTIV_GROUP IS NOT NULL			

			SET     @MSG ='01-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI B2B AU CONSUM_AN CALCULAT IN TABELA DE MD !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE GL_MD
			SET    CONSUM_AN= 0
			WHERE  AN=@AN							AND
				   LUNA=@LUNA						AND
				   SEGMENTGROUP!=@SGM_GROUP			AND
				   MOTIV_GROUP IS NOT NULL			AND
				   CONSUM_AN IS NULL

			SET     @MSG ='02-  '+cast(@@rowcount as varchar(255)) + ' DE NREGISTRARI B2B AU FOST MAPATE CU CONSUM ZERO IN TABELA DE MD !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			SET     @MSG ='FINISH PROCESARE CANTITATE B2B !';

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
	
	COMMIT TRAN ;

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
/

CREATE PROCEDURE [dbo].[sp_GL_P_CANT_B2C_GAINED]
( 
@AN SMALLINT,
@LUNA SMALLINT
)
AS
BEGIN

	SET NOCOUNT ON;

	SET XACT_ABORT , NOCOUNT ON;
	
				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				DECLARE @MSG VARCHAR(100);
				DECLARE @TIP_SURSA CHAR(6) ;

				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET     @MSG ='START PROCESARE CANTITATE B2C !';
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;
				SET		@TIP_SURSA='GAINED';

				EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

	BEGIN TRY ;

-- => CALC

	BEGIN TRAN ;

			UPDATE tgt
			SET    CONSUM_AN= src.CANT_MED_AN
			FROM   GL_MD tgt, GL_INT_CANT_MED_JUDET src
			WHERE  tgt.DIVIZIE=src.DIVIZIE				AND
				   tgt.SEGMENTCLIENT=src.SEGMENTCLIENT	AND
				   tgt.JUDET=src.JUDET					AND
				   tgt.AN=@AN							AND
				   tgt.LUNA=@LUNA						AND
				   tgt.TIP_SURSA=@TIP_SURSA				AND
				   tgt.MOTIV_GROUP IS NOT NULL			AND
				   tgt.CONSUM_AN IS NULL

			SET     @MSG ='01-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI B2C GAINED AU CONSUM_AN CALCULAT IN TABELA DE MD !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE tgt
			SET    CONSUM_AN= src.CANT_MED_AN
			FROM   GL_MD tgt, GL_INT_CANT_MED_TOTAL src
			WHERE  tgt.DIVIZIE=src.DIVIZIE				AND
				   tgt.SEGMENTCLIENT=src.SEGMENTCLIENT	AND
				   tgt.AN=@AN							AND
				   tgt.LUNA=@LUNA						AND
				   tgt.TIP_SURSA=@TIP_SURSA				AND
				   tgt.MOTIV_GROUP IS NOT NULL			AND
				   tgt.CONSUM_AN IS NULL

			SET     @MSG ='02-  '+cast(@@rowcount as varchar(255)) + ' DE NREGISTRARI REST B2C GAINED AU CONSUM_AN CALCULAT IN TABELA DE MD !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

	COMMIT TRAN ;

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
/

CREATE PROCEDURE [dbo].[sp_GL_P_CANT_B2C_LOST]
( 
@AN SMALLINT,
@LUNA SMALLINT
)
AS
BEGIN

	SET NOCOUNT ON;

	SET XACT_ABORT , NOCOUNT ON;
	
				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				DECLARE @MSG VARCHAR(100);
				DECLARE @TIP_SURSA CHAR(6) ;
				DECLARE @SGM_GROUP CHAR(10) ;

				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;
				SET		@TIP_SURSA='LOST';
				SET     @SGM_GROUP='B2C';

	BEGIN TRY ;

-- => MAPPING

	BEGIN TRAN ;

			UPDATE tgt
			SET    CONSUM_AN= src.CONSUM_AN
			FROM   GL_MD tgt, GL_INT_CANT_B2C_LOST src
			WHERE  tgt.INSTALATIE=src.INSTALATIE		AND
				   tgt.AN=@AN							AND
				   tgt.LUNA=@LUNA						AND
				   tgt.TIP_SURSA=@TIP_SURSA				AND
				   tgt.SEGMENTGROUP=@SGM_GROUP			AND
				   tgt.MOTIV_GROUP IS NOT NULL			AND
				   tgt.CONSUM_AN IS NULL

			SET     @MSG ='03-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI B2C LOST AU CONSUM_AN CALCULAT IN TABELA DE MD !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE GL_MD
			SET    CONSUM_AN= 0
			WHERE  AN=@AN							AND
				   LUNA=@LUNA						AND
				   TIP_SURSA=@TIP_SURSA				AND
				   SEGMENTGROUP=@SGM_GROUP			AND
				   MOTIV_GROUP IS NOT NULL			AND
				   CONSUM_AN IS NULL

			SET     @MSG ='04-  '+cast(@@rowcount as varchar(255)) + ' DE NREGISTRARI REST B2C LOST AU CONSUM_AN CALCULAT IN TABELA DE MD !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			SET     @MSG ='FINISH PROCESARE CANTITATE B2C !';

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
	
	COMMIT TRAN ;

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
/

CREATE PROCEDURE [dbo].[sp_GL_P_NUMAR_GAINED]
( 
@AN SMALLINT,
@LUNA SMALLINT
)
AS
BEGIN

	SET NOCOUNT ON;

	SET XACT_ABORT , NOCOUNT ON;


	
				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				DECLARE @SURSA CHAR(6) ;
				DECLARE @MSG VARCHAR(100);

				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;
				SET		@SURSA='GAINED';

	BEGIN TRY ;

-- => DATA PROCESSING

	BEGIN TRAN ;

			WITH src AS ( 
									 SELECT		 @SURSA TIP_SURSA, AN, LUNA, MOD_TIMP DATA_SURSA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, SUBSEGMENT, IDMANAGER, 
												 DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE, INSTALATIE,
												 FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, CUI_CNP, MOTIVMOV_IN_DESC MOTIVMOV_OUT_IN_TEXT , CONTCONTRACT, DATACREARE, JUDET, NUMAR, 
												 MOTIVMOV_IN_COD MOTIVMOV_OUT_IN_CHEIE, URBANRURAL, INVOICING_PARTY, SEGMENT, SEGMENTGROUP, MOTIV_GROUP
									  FROM		 GL_CALC_NUMAR_GAINED
									  WHERE		 AN=@AN AND LUNA=@LUNA
									  GROUP BY   AN, LUNA, MOD_TIMP , DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, SUBSEGMENT, IDMANAGER, 
												 DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE, INSTALATIE,
												 FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, CUI_CNP, MOTIVMOV_IN_DESC , CONTCONTRACT, DATACREARE, JUDET, NUMAR, 
												 MOTIVMOV_IN_COD, URBANRURAL, INVOICING_PARTY, SEGMENT, SEGMENTGROUP, MOTIV_GROUP
									 )
			
			MERGE 
			INTO  GL_MD  tgt
			USING  src
			ON     (
						tgt.AN=src.AN                       AND
						tgt.LUNA=src.LUNA                   AND
						tgt.TIP_SURSA=src.TIP_SURSA			AND
						tgt.INSTALATIE=src.INSTALATIE
					)
			WHEN NOT MATCHED THEN
			INSERT (  
						TIP_SURSA, AN, LUNA, DATA_SURSA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, SUBSEGMENT, IDMANAGER, 
						DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE, INSTALATIE,
						FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, CUI_CNP, MOTIVMOV_OUT_IN_TEXT, CONTCONTRACT, DATACREARE, JUDET, NUMAR, 
						MOTIVMOV_OUT_IN_CHEIE, URBANRURAL, INVOICING_PARTY, SEGMENT, SEGMENTGROUP, MOTIV_GROUP
					)
			VALUES (  
						src.TIP_SURSA, src.AN, src.LUNA, src.DATA_SURSA, src.DENUMIRE_SURSA, src.DIVIZIE, src.DENUMIREPARTENER, src.PARTENERDEAFACERI, src.SEGMENTCLIENT, src.SUBSEGMENT, src.IDMANAGER, 
						src.DENUMIREMANAGER, src.PUNCTDECONSUM, src.NUMARCONTRACT, src.DATAMOVIN, src.DATAMOVOUT, src.CATEGORIETARIF, src.DENUMIREDISTRIBUITOR_CHEIE, src.INSTALATIE,
						src.FURNIZOR_NOU_ANTERIOR_CHEIE, src.FURNIZOR_NOU_ANTERIOR_TEXT, src.CUI_CNP, src.MOTIVMOV_OUT_IN_TEXT, src.CONTCONTRACT, src.DATACREARE, src.JUDET, src.NUMAR, 
						src.MOTIVMOV_OUT_IN_CHEIE, src.URBANRURAL, src.INVOICING_PARTY, src.SEGMENT, src.SEGMENTGROUP, src.MOTIV_GROUP
					) ;

			SET     @MSG ='09-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI GAINED AU FOST PROCESATE IN TABELA DE MD !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			SET     @MSG ='FINISH PROCESARE NUMAR GAINED !';

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
	
	COMMIT TRAN ;

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
/

CREATE PROCEDURE [dbo].[sp_GL_P_NUMAR_LOST]
( 
@AN SMALLINT,
@LUNA SMALLINT
)
AS
BEGIN

	SET NOCOUNT ON;

	SET XACT_ABORT , NOCOUNT ON;


	
				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				DECLARE @SURSA CHAR(6) ;
				DECLARE @MSG VARCHAR(100);

				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;
				SET		@SURSA='LOST';

	BEGIN TRY ;

-- => DATA PROCESSING

	BEGIN TRAN ;

			WITH src AS ( 
									 SELECT		 @SURSA TIP_SURSA, AN, LUNA, MOD_TIMP DATA_SURSA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, SUBSEGMENT, IDMANAGER, 
												 DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE, INSTALATIE,
												 FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, CODCOMPANIE, CUI_CNP, MOTIVMOV_IN_DESC MOTIVMOV_OUT_IN_TEXT , CONTCONTRACT, DATACREARE, 
												 JUDET, NUMAR, MOTIVMOV_IN_COD MOTIVMOV_OUT_IN_CHEIE, 
												 URBANRURAL, INVOICING_PARTY, SEGMENT, SEGMENTGROUP, MOTIV_GROUP
									  FROM		 GL_CALC_NUMAR_LOST
									  WHERE		 AN=@AN AND LUNA=@LUNA
									  GROUP BY   AN, LUNA, MOD_TIMP, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, SUBSEGMENT, IDMANAGER, 
												 DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE, INSTALATIE,
												 FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, CODCOMPANIE, CUI_CNP, MOTIVMOV_IN_DESC, CONTCONTRACT, DATACREARE, 
												 JUDET, NUMAR, MOTIVMOV_IN_COD, 
												 URBANRURAL, INVOICING_PARTY, SEGMENT, SEGMENTGROUP, MOTIV_GROUP
									 )
			
			MERGE 
			INTO  GL_MD  tgt
			USING  src
			ON     (
						tgt.AN=src.AN                       AND
						tgt.LUNA=src.LUNA                   AND
						tgt.TIP_SURSA=src.TIP_SURSA			AND
						tgt.INSTALATIE=src.INSTALATIE
					)
			WHEN NOT MATCHED THEN
			INSERT (  
						TIP_SURSA, AN, LUNA, DATA_SURSA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, SUBSEGMENT, IDMANAGER, 
						DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE, INSTALATIE,
						FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, CODCOMPANIE, CUI_CNP, MOTIVMOV_OUT_IN_TEXT, CONTCONTRACT, DATACREARE, 
						JUDET, NUMAR, MOTIVMOV_OUT_IN_CHEIE, 
						URBANRURAL, INVOICING_PARTY, SEGMENT, SEGMENTGROUP, MOTIV_GROUP
					)
			VALUES (  
						src.TIP_SURSA, src.AN, src.LUNA, src.DATA_SURSA, src.DENUMIRE_SURSA, src.DIVIZIE, src.DENUMIREPARTENER, src.PARTENERDEAFACERI, src.SEGMENTCLIENT, src.SUBSEGMENT, src.IDMANAGER, 
						src.DENUMIREMANAGER, src.PUNCTDECONSUM, src.NUMARCONTRACT, src.DATAMOVIN, src.DATAMOVOUT, src.CATEGORIETARIF, src.DENUMIREDISTRIBUITOR_CHEIE, src.INSTALATIE,
						src.FURNIZOR_NOU_ANTERIOR_CHEIE, src.FURNIZOR_NOU_ANTERIOR_TEXT, src.CODCOMPANIE, src.CUI_CNP, src.MOTIVMOV_OUT_IN_TEXT, src.CONTCONTRACT, src.DATACREARE, 
						src.JUDET, src.NUMAR, src.MOTIVMOV_OUT_IN_CHEIE, 
						src.URBANRURAL, src.INVOICING_PARTY, src.SEGMENT, src.SEGMENTGROUP, src.MOTIV_GROUP
					) ;

			SET     @MSG ='08-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI LOST AU FOST PROCESATE IN TABELA DE MD !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			SET     @MSG ='FINISH PROCESARE NUMAR LOST !';

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
	
	COMMIT TRAN ;

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
