CREATE PROCEDURE [dbo].[sp_GL_VF_DATE_GAINED]
( 
@AN SMALLINT,
@LUNA SMALLINT,
@MOD_GAINED BIT OUTPUT
)
AS
BEGIN

	SET NOCOUNT ON;

	SET XACT_ABORT , NOCOUNT ON;


	
				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				DECLARE @MSG VARCHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET     @MSG ='START PROCESARE NUMAR GAINED !';
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

	BEGIN TRY ;

-- => DATA PROCESSING

	BEGIN TRAN ;

			UPDATE GL_INT_NUMAR_GAINED
			SET    FURNIZOR_NOU_ANTERIOR_CHEIE='NEALOCAT'
			WHERE  FURNIZOR_NOU_ANTERIOR_CHEIE='' ;

			TRUNCATE TABLE GL_CALC_TRANSF_GAINED ;

			INSERT INTO GL_CALC_TRANSF_GAINED (  DENUMIRE_SURSA, AN, LUNA , DIVIZIE,
												DENUMIREPARTENER ,  PARTENERDEAFACERI,  SEGMENTCLIENT,
												SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, 
												PUNCTDECONSUM, NUMARCONTRACT, 
												DATAMOVIN, 
												CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,
												INSTALATIE, 
												FURNIZOR_NOU_ANTERIOR_CHEIE, 
												FURNIZOR_NOU_ANTERIOR_TEXT, 
												INVOICING_PARTY,
												CUI_CNP,  MOTIVMOV_IN_COD , MOTIVMOV_IN_DESC,
												CONTCONTRACT, DATACREARE,
												URBANRURAL, JUDET,
												MOD_TIMP, MOD_DE,
												MOD_ID
											 )

			SELECT  DENUMIRE_SURSA, YEAR(CONVERT(DATE, DATAMOVIN, 104)) AN, MONTH(CONVERT(DATE, DATAMOVIN, 104)) LUNA, DIVIZIE,
				   UPPER(DENUMIREPARTENER) DENUMIREPARTENER , CAST(PARTENERDEAFACERI AS CHAR(10)) AS PARTENERDEAFACERI, CAST(SEGMENTCLIENT AS CHAR(3)) AS SEGMENTCLIENT,
				   CAST(SUBSEGMENT AS CHAR(10)) SUBSEGMENT, CAST(IDMANAGER AS VARCHAR(50)) IDMANAGER, CAST(DENUMIREMANAGER AS VARCHAR(100)) DENUMIREMANAGER, 
				   CAST(PUNCTDECONSUM AS CHAR(10)) PUNCTDECONSUM, CAST(NUMARCONTRACT AS CHAR(10)) NUMARCONTRACT, 
				   (RIGHT(DATAMOVIN,4)+'-'+RIGHT(LEFT(DATAMOVIN,5),2)+'-'+LEFT(DATAMOVIN,2)) DATAMOVIN,
				   CAST(CATEGORIETARIF AS CHAR(50)) CATEGORIETARIF, UPPER(DENUMIREDISTRIBUITOR_CHEIE) DENUMIREDISTRIBUITOR_CHEIE,
				   CAST(INSTALATIE AS CHAR(10)) INSTALATIE, 
				   TRIM(UPPER(FURNIZOR_NOU_ANTERIOR_CHEIE)) FURNIZOR_NOU_ANTERIOR_CHEIE, 
				   'NEALOCAT' FURNIZOR_NOU_ANTERIOR_TEXT,
				   CAST(INVOICING_PARTY AS VARCHAR(50)) INVOICING_PARTY,
				   TRIM(CAST(CUI_CNP AS VARCHAR(20))) CUI_CNP,  CAST(MOTIVMOV_IN_COD AS CHAR(2)) MOTIVMOV_IN_COD , UPPER(MOTIVMOV_IN_DESC) MOTIVMOV_IN_DESC,
				   CAST(CONTCONTRACT AS CHAR(10)) CONTCONTRACT, (RIGHT(DATACREARE,4)+'-'+RIGHT(LEFT(DATACREARE,5),2)+'-'+LEFT(DATACREARE,2)) DATACREARE,
				   CAST(URBANRURAL AS VARCHAR(6)) URBANRURAL, CAST(JUDET AS CHAR(2)) JUDET,
				   MOD_TIMP, MOD_DE,
				   ROW_NUMBER() OVER(PARTITION BY YEAR(CONVERT(DATE, DATAMOVIN, 104)), MONTH(CONVERT(DATE, DATAMOVIN, 104)) , INSTALATIE  ORDER BY YEAR(CONVERT(DATE, DATAMOVIN, 104)) DESC,  MONTH(CONVERT(DATE, DATAMOVIN, 104))  DESC, INSTALATIE DESC )
			FROM   GL_INT_NUMAR_GAINED
			GROUP BY 	 DENUMIRE_SURSA, DIVIZIE,
				   DENUMIREPARTENER ,  PARTENERDEAFACERI,  SEGMENTCLIENT,
				   SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, 
				   PUNCTDECONSUM, NUMARCONTRACT, 
				   DATAMOVIN, 
				   CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,
				   INSTALATIE, FURNIZOR_NOU_ANTERIOR_CHEIE, INVOICING_PARTY,
				   CUI_CNP,  MOTIVMOV_IN_COD , MOTIVMOV_IN_DESC,
				   CONTCONTRACT, DATACREARE,
				   URBANRURAL, JUDET,
				   MOD_TIMP, MOD_DE ;

			SET     @MSG ='01-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI GAINED AU FOST PROCESATE IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
	
	COMMIT TRAN ;

-- => TRANSFORMATION

	BEGIN TRAN ;
		
			UPDATE GL_CALC_TRANSF_GAINED
			SET    DIVIZIE= CASE WHEN DIVIZIE=1 THEN '01'
								 WHEN DIVIZIE=2 THEN '02'
						    END 

			SET     @MSG ='02-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU DIVIZA REMAPATA IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE GL_CALC_TRANSF_GAINED
			SET    DENUMIREDISTRIBUITOR_CHEIE= CASE WHEN DIVIZIE='01' THEN 'EMO-DIST'
													WHEN DIVIZIE='02' THEN 'EGR-DIST'
											   END 
			WHERE  DENUMIREDISTRIBUITOR_CHEIE IS NULL

			SET     @MSG ='03-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU DISTRIBUITORUL REMAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG


			UPDATE GL_CALC_TRANSF_GAINED
			SET    SEGMENT= CASE WHEN SUBSEGMENT IN ('MULTISITE','STRATEGIC','MUNI')  
								 THEN SUBSEGMENT 
								 ELSE SEGMENTCLIENT 
							END 

			SET     @MSG ='04-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU SEGMENT MAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE tgt
			SET    SEGMENTGROUP=src.SEGMENTGROUP
			FROM   GL_CALC_TRANSF_GAINED tgt , GL_INT_SEGMENT src
			WHERE  tgt.SEGMENTCLIENT=src.COD 

			SET     @MSG ='05-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU SEGMENTGROUP MAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE tgt
			SET    MOTIV_GROUP=src.MOTIV_GROUP
			FROM   GL_CALC_TRANSF_GAINED tgt , GL_INT_MOTIVMOV_IN src
			WHERE  tgt.MOTIVMOV_IN_COD=src.COD 

			SET     @MSG ='06-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU MOTIV GROUP MAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE tgt
			SET    FURNIZOR_NOU_ANTERIOR_TEXT=TRIM(UPPER(src.NUME))
			FROM   GL_CALC_TRANSF_GAINED tgt , GL_INT_FURN src
			WHERE  tgt.FURNIZOR_NOU_ANTERIOR_CHEIE=src.COD AND tgt.FURNIZOR_NOU_ANTERIOR_CHEIE!='NEALOCAT'

			SET     @MSG ='07-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU FURN TEXT MAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

	COMMIT TRAN ;

-- => DATA PROCESSING

	BEGIN TRAN ;

			DECLARE @INSERT TABLE(ACTION VARCHAR(20));

			WITH src AS ( 
						 SELECT		 AN, LUNA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, 
									 SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, 
									 ('9999'+'-'+'12'+'31') DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,INSTALATIE,
									 FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, INVOICING_PARTY, CUI_CNP,MOTIVMOV_IN_COD, 
									 MOTIVMOV_IN_DESC, CONTCONTRACT, DATACREARE,URBANRURAL, JUDET, MOD_TIMP, SEGMENT, SEGMENTGROUP, MOTIV_GROUP , 
									 1 NUMAR 
						  FROM		 GL_CALC_TRANSF_GAINED
						  WHERE		 AN=@AN AND LUNA=@LUNA AND MOD_ID=1
						  GROUP BY   AN, LUNA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, 
									 SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, 
									 CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,INSTALATIE,
									 FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT,INVOICING_PARTY, CUI_CNP,MOTIVMOV_IN_COD, 
									 MOTIVMOV_IN_DESC,  CONTCONTRACT, DATACREARE,URBANRURAL, JUDET, MOD_TIMP, SEGMENT, SEGMENTGROUP, MOTIV_GROUP
						 )
			
				MERGE 
				INTO  GL_CALC_NUMAR_GAINED  tgt
				USING  src
				ON     (
							tgt.AN=src.AN                       and
							tgt.LUNA=src.LUNA                   and
							tgt.INSTALATIE=src.INSTALATIE
						)
				WHEN NOT MATCHED THEN
				INSERT (  
							AN, LUNA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, 
							SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, 
							DATAMOVOUT,CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,INSTALATIE, FURNIZOR_NOU_ANTERIOR_CHEIE,
							FURNIZOR_NOU_ANTERIOR_TEXT, INVOICING_PARTY, CUI_CNP,MOTIVMOV_IN_COD, MOTIVMOV_IN_DESC,  CONTCONTRACT, 
							DATACREARE,URBANRURAL, JUDET, MOD_TIMP, SEGMENT, SEGMENTGROUP, MOTIV_GROUP, NUMAR
						)
				VALUES (  
							src.AN, src.LUNA, src.DENUMIRE_SURSA, src.DIVIZIE, src.DENUMIREPARTENER, src.PARTENERDEAFACERI, src.SEGMENTCLIENT, 
							src.SUBSEGMENT, src.IDMANAGER, src.DENUMIREMANAGER, src.PUNCTDECONSUM, src.NUMARCONTRACT, src.DATAMOVIN, 
							src.DATAMOVOUT, src.CATEGORIETARIF, src.DENUMIREDISTRIBUITOR_CHEIE, src.INSTALATIE, src.FURNIZOR_NOU_ANTERIOR_CHEIE,
							src.FURNIZOR_NOU_ANTERIOR_TEXT, src.INVOICING_PARTY, src.CUI_CNP, src.MOTIVMOV_IN_COD, src.MOTIVMOV_IN_DESC,  src.CONTCONTRACT, 
							src.DATACREARE, src.URBANRURAL, src.JUDET, src.MOD_TIMP, src.SEGMENT, src.SEGMENTGROUP, src.MOTIV_GROUP, src.NUMAR
							) 
				OUTPUT $action INTO @INSERT; 

				DECLARE @COUNT FLOAT ;
				SELECT  @COUNT = COUNT(*) FROM @INSERT ;

				IF @COUNT>0
							BEGIN	
									SET     @MSG ='08-  ' + cast(@COUNT as varchar(255)) + ' DE INREGISTRARI NOI AU FOST PROCESATE IN TABELA DE CALC !' ;
									EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
									SET @MOD_GAINED=1								
							END;

				ELSE
							BEGIN
									SET @MOD_GAINED=0	
							END;
	
	COMMIT TRAN ;

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
/



CREATE PROCEDURE [dbo].[sp_GL_VF_DATE_LOST]
( 
@AN SMALLINT,
@LUNA SMALLINT,
@MOD_LOST BIT OUTPUT
)
AS
BEGIN

	SET NOCOUNT ON;

	SET XACT_ABORT , NOCOUNT ON;


	
				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				DECLARE @MSG VARCHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET     @MSG ='START PROCESARE NUMAR LOST !';
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

	BEGIN TRY ;

-- => DATA PROCESSING

	BEGIN TRAN ;

			UPDATE GL_INT_NUMAR_LOST
			SET    FURNIZOR_NOU_ANTERIOR_CHEIE='NEALOCAT'
			WHERE  FURNIZOR_NOU_ANTERIOR_CHEIE='' ;

			TRUNCATE TABLE GL_CALC_TRANSF_LOST ;

			INSERT INTO GL_CALC_TRANSF_LOST (   DENUMIRE_SURSA, AN, LUNA , DIVIZIE,
												DENUMIREPARTENER ,  PARTENERDEAFACERI,  SEGMENTCLIENT,
												SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, 
												PUNCTDECONSUM, NUMARCONTRACT, 
												DATAMOVIN, DATAMOVOUT, 
												CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,
												INSTALATIE, 
												FURNIZOR_NOU_ANTERIOR_CHEIE, 
												FURNIZOR_NOU_ANTERIOR_TEXT,
												INVOICING_PARTY,
												CODCOMPANIE, CUI_CNP,  MOTIVMOV_IN_COD , MOTIVMOV_IN_DESC,
												CONTCONTRACT, DATACREARE,
												URBANRURAL, JUDET,
												MOD_TIMP, MOD_DE,
												MOD_ID
											 )


			SELECT  DENUMIRE_SURSA, YEAR(CONVERT(DATE, DATAMOVOUT, 104)) AN, MONTH(CONVERT(DATE, DATAMOVOUT, 104)) LUNA, DIVIZIE,
				   UPPER(DENUMIREPARTENER) DENUMIREPARTENER , CAST(PARTENERDEAFACERI AS CHAR(10)) AS PARTENERDEAFACERI, CAST(SEGMENTCLIENT AS CHAR(3)) SEGMENTCLIENT,
				   CAST(SUBSEGMENT AS CHAR(10)) SUBSEGMENT, CAST(IDMANAGER AS VARCHAR(50)) IDMANAGER, CAST(DENUMIREMANAGER AS VARCHAR(100)) DENUMIREMANAGER, 
				   CAST(PUNCTDECONSUM AS CHAR(10)) PUNCTDECONSUM, CAST(NUMARCONTRACT AS CHAR(10)) NUMARCONTRACT, 
				   (RIGHT(DATAMOVIN,4)+'-'+RIGHT(LEFT(DATAMOVIN,5),2)+'-'+LEFT(DATAMOVIN,2)) DATAMOVIN, (RIGHT(DATAMOVOUT,4)+'-'+RIGHT(LEFT(DATAMOVOUT,5),2)+'-'+LEFT(DATAMOVOUT,2)) DATAMOVOUT,
				   CAST(CATEGORIETARIF AS CHAR(50)) CATEGORIETARIF, UPPER(DENUMIREDISTRIBUITOR_CHEIE) DENUMIREDISTRIBUITOR_CHEIE,
				   CAST(INSTALATIE AS CHAR(10)) INSTALATIE, 
				   TRIM(UPPER(FURNIZOR_NOU_ANTERIOR_CHEIE)) FURNIZOR_NOU_ANTERIOR_CHEIE, 
				   'NEALOCAT' FURNIZOR_NOU_ANTERIOR_TEXT,
				   CAST(INVOICING_PARTY AS VARCHAR(50)) INVOICING_PARTY,
				   CAST(CODCOMPANIE AS CHAR(5)) CODCOMPANIE , TRIM(CAST(CUI_CNP AS VARCHAR(20))) CUI_CNP,  CAST(MOTIVMOV_IN_COD AS CHAR(2)) MOTIVMOV_IN_COD , UPPER(MOTIVMOV_IN_DESC) MOTIVMOV_IN_DESC,
				   CAST(CONTCONTRACT AS CHAR(10)) CONTCONTRACT, (RIGHT(DATACREARE,4)+'-'+RIGHT(LEFT(DATACREARE,5),2)+'-'+LEFT(DATACREARE,2)) DATACREARE,
				   CAST(URBANRURAL AS VARCHAR(6)) URBANRURAL, CAST(JUDET AS CHAR(2)) JUDET,
				   MOD_TIMP, MOD_DE,
				   ROW_NUMBER() OVER(PARTITION BY YEAR(CONVERT(DATE, DATAMOVIN, 104)), MONTH(CONVERT(DATE, DATAMOVIN, 104)) , INSTALATIE  ORDER BY YEAR(CONVERT(DATE, DATAMOVIN, 104)) DESC,  MONTH(CONVERT(DATE, DATAMOVIN, 104))  DESC, INSTALATIE DESC )
			FROM   GL_INT_NUMAR_LOST
			GROUP BY 	DENUMIRE_SURSA, DIVIZIE,
						DENUMIREPARTENER ,  PARTENERDEAFACERI,  SEGMENTCLIENT,
						SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, 
						PUNCTDECONSUM, NUMARCONTRACT, 
						DATAMOVIN, DATAMOVOUT,
						CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,
						INSTALATIE, 
						FURNIZOR_NOU_ANTERIOR_CHEIE, 
						INVOICING_PARTY,
						CODCOMPANIE, CUI_CNP,  MOTIVMOV_IN_COD , MOTIVMOV_IN_DESC,
						CONTCONTRACT, DATACREARE,
						URBANRURAL, JUDET,
						MOD_TIMP, MOD_DE ;

			SET     @MSG ='01-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI LOST AU FOST PROCESATE IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
	
	COMMIT TRAN ;

-- => TRANSFORMATION

	BEGIN TRAN ;

			UPDATE GL_CALC_TRANSF_LOST
			SET    DIVIZIE= CASE WHEN DIVIZIE=1 THEN '01'
								 WHEN DIVIZIE=2 THEN '02'
						    END 

			SET     @MSG ='02-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU DIVIZA REMAPATA IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE GL_CALC_TRANSF_LOST
			SET    DENUMIREDISTRIBUITOR_CHEIE= CASE WHEN DIVIZIE='01' THEN 'EMO-DIST'
													WHEN DIVIZIE='02' THEN 'EGR-DIST'
											   END 
			WHERE  DENUMIREDISTRIBUITOR_CHEIE IS NULL

			SET     @MSG ='03-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU DISTRIBUITORUL REMAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG


			UPDATE GL_CALC_TRANSF_LOST
			SET    SEGMENT= CASE WHEN SUBSEGMENT IN ('MULTISITE','STRATEGIC','MUNI')  
								 THEN SUBSEGMENT 
								 ELSE SEGMENTCLIENT 
							END 

			SET     @MSG ='04-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU SEGMENT MAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE tgt
			SET    SEGMENTGROUP=src.SEGMENTGROUP
			FROM   GL_CALC_TRANSF_LOST tgt , GL_INT_SEGMENT src
			WHERE  tgt.SEGMENTCLIENT=src.COD 

			SET     @MSG ='05-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU SEGMENTGROUP MAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE tgt
			SET    MOTIV_GROUP=src.MOTIV_GROUP
			FROM   GL_CALC_TRANSF_LOST tgt , GL_INT_MOTIVMOV_OUT src
			WHERE  tgt.MOTIVMOV_IN_COD=src.COD 

			SET     @MSG ='06-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU MOTIV GROUP MAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			UPDATE tgt
			SET    FURNIZOR_NOU_ANTERIOR_TEXT=TRIM(UPPER(src.NUME))
			FROM   GL_CALC_TRANSF_LOST tgt , GL_INT_FURN src
			WHERE  tgt.FURNIZOR_NOU_ANTERIOR_CHEIE=src.COD AND tgt.FURNIZOR_NOU_ANTERIOR_CHEIE!='NEALOCAT'

			SET     @MSG ='07-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI AU FURN DESCIERE MAPAT IN TABELA DE TRANSF !' ;

			EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

	COMMIT TRAN ;

-- => DATA PROCESSING

	BEGIN TRAN ;

			DECLARE @NR_LOST TABLE(ACTION VARCHAR(20));

			WITH src AS ( 
						 SELECT		 AN, LUNA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, 
									 SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, 
									 DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,INSTALATIE,
									 FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, INVOICING_PARTY, CODCOMPANIE, CUI_CNP,
									 MOTIVMOV_IN_COD, MOTIVMOV_IN_DESC,  CONTCONTRACT, DATACREARE,URBANRURAL, JUDET, MOD_TIMP, SEGMENT, SEGMENTGROUP, MOTIV_GROUP , 
									 1 NUMAR 
						  FROM		 GL_CALC_TRANSF_LOST
						  WHERE		 AN=@AN AND LUNA=@LUNA AND MOD_ID=1
						  GROUP BY   AN, LUNA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, 
									 SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, 
									 DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,INSTALATIE,
									 FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, INVOICING_PARTY, CODCOMPANIE, CUI_CNP,
									 MOTIVMOV_IN_COD, MOTIVMOV_IN_DESC, CONTCONTRACT, DATACREARE,URBANRURAL, JUDET, MOD_TIMP, SEGMENT, SEGMENTGROUP, MOTIV_GROUP
						 )
			
				MERGE 
				INTO  GL_CALC_NUMAR_LOST  tgt
				USING  src
				ON     (
							tgt.AN=src.AN                       and
							tgt.LUNA=src.LUNA                   and
							tgt.INSTALATIE=src.INSTALATIE
						)
				WHEN NOT MATCHED THEN
				INSERT (  
							AN, LUNA, DENUMIRE_SURSA, DIVIZIE, DENUMIREPARTENER, PARTENERDEAFACERI, SEGMENTCLIENT, 
							SUBSEGMENT, IDMANAGER, DENUMIREMANAGER, PUNCTDECONSUM, NUMARCONTRACT, DATAMOVIN, 
							DATAMOVOUT, CATEGORIETARIF, DENUMIREDISTRIBUITOR_CHEIE,INSTALATIE,
							FURNIZOR_NOU_ANTERIOR_CHEIE, FURNIZOR_NOU_ANTERIOR_TEXT, INVOICING_PARTY, CODCOMPANIE, CUI_CNP,
							MOTIVMOV_IN_COD, MOTIVMOV_IN_DESC,  CONTCONTRACT, DATACREARE,URBANRURAL, 
							JUDET, MOD_TIMP, SEGMENT, SEGMENTGROUP, MOTIV_GROUP , NUMAR
						)
				VALUES (  
							src.AN, src.LUNA, src.DENUMIRE_SURSA, src.DIVIZIE, src.DENUMIREPARTENER, src.PARTENERDEAFACERI, src.SEGMENTCLIENT, 
							src.SUBSEGMENT, src.IDMANAGER, src.DENUMIREMANAGER, src.PUNCTDECONSUM, src.NUMARCONTRACT, src.DATAMOVIN, 
							src.DATAMOVOUT, src.CATEGORIETARIF, src.DENUMIREDISTRIBUITOR_CHEIE, src.INSTALATIE, 
							src.FURNIZOR_NOU_ANTERIOR_CHEIE, src.FURNIZOR_NOU_ANTERIOR_TEXT, src.INVOICING_PARTY, src.CODCOMPANIE, src.CUI_CNP, 
							src.MOTIVMOV_IN_COD, src.MOTIVMOV_IN_DESC,  src.CONTCONTRACT, src.DATACREARE, src.URBANRURAL, 
							src.JUDET, src.MOD_TIMP, src.SEGMENT, src.SEGMENTGROUP, src.MOTIV_GROUP, src.NUMAR
							) 
				OUTPUT $action INTO @NR_LOST; 

				DECLARE @COUNT FLOAT ;
				SELECT  @COUNT = COUNT(*) FROM @NR_LOST ;

				IF @COUNT>0
							BEGIN	
									SET     @MSG ='07-  ' + cast(@COUNT as varchar(255)) + ' DE INREGISTRARI NOI AU FOST PROCESATE IN TABELA DE CALC !' ;
									EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
									SET @MOD_LOST=1								
							END;

				ELSE
							BEGIN
									SET @MOD_LOST=0	
							END;
	
	COMMIT TRAN ;

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
