CREATE PROCEDURE [dbo].[master_GL_INREG_CANT_B2B]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		EXEC dbo.sp_GL_P_CANT_B2B @AN, @LUNA ;

END


GO
/

CREATE PROCEDURE [dbo].[master_GL_INREG_CANT_B2C]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		EXEC dbo.sp_GL_P_CANT_B2C_GAINED @AN, @LUNA ;
		EXEC dbo.sp_GL_P_CANT_B2C_LOST @AN, @LUNA ;

END


GO
/

CREATE PROCEDURE [dbo].[master_GL_INREG_NR_GAINED]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		DECLARE @OBJECT_NAME  CHAR(100);
		SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

		DECLARE @AN_CALC CHAR(4);
		DECLARE @LUNA_CALC CHAR(2);
		DECLARE @MSG VARCHAR(100);
		DECLARE @MOD_GAINED BIT;

		SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
		SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

		EXEC dbo.sp_GL_VF_DATE_GAINED @AN, @LUNA, @MOD_GAINED OUTPUT;

		IF @MOD_GAINED=1 
			BEGIN
				EXEC dbo.sp_GL_P_NUMAR_GAINED @AN, @LUNA ;
			END

		ELSE IF @MOD_GAINED=0
			BEGIN
				SET     @MSG ='NU SUNT MODIFICARI FATA DE DATELE EXISTENTE , NU SE PROCESEAZA DATELE IN TABELUL DE MD !' ;
				EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
			END 

END


GO
/

CREATE PROCEDURE [dbo].[master_GL_INREG_NR_LOST]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		DECLARE @OBJECT_NAME  CHAR(100);
		SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

		DECLARE @AN_CALC CHAR(4);
		DECLARE @LUNA_CALC CHAR(2);
		DECLARE @MSG VARCHAR(100);
		DECLARE @MOD_LOST BIT;

		SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
		SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

		EXEC dbo.sp_GL_VF_DATE_LOST @AN, @LUNA, @MOD_LOST OUTPUT;

		IF @MOD_LOST=1 
			BEGIN
				EXEC dbo.sp_GL_P_NUMAR_LOST @AN, @LUNA ;
			END

		ELSE IF @MOD_LOST=0
			BEGIN
				SET     @MSG ='NU SUNT MODIFICARI FATA DE DATELE EXISTENTE , NU SE PROCESEAZA DATELE IN TABELUL DE MD !' ;
				EXEC sp_GL_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
			END 

END


GO
