CREATE TABLE [dbo].[GL_MD](
	[DENUMIRE_SURSA] [varchar](255) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[PARTENERDEAFACERI] [char](100) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[SUBSEGMENT] [char](10) NULL,
	[IDMANAGER] [varchar](50) NULL,
	[DENUMIREMANAGER] [varchar](100) NULL,
	[PUNCTDECONSUM] [char](10) NOT NULL,
	[NUMARCONTRACT] [char](10) NOT NULL,
	[DATAMOVIN] [char](10) NOT NULL,
	[DATAMOVOUT] [char](10) NOT NULL,
	[CATEGORIETARIF] [char](50) NOT NULL,
	[DENUMIREDISTRIBUITOR_CHEIE] [varchar](255) NOT NULL,
	[FURNIZOR_NOU_ANTERIOR_CHEIE] [varchar](255) NULL,
	[CODCOMPANIE] [char](4) NULL,
	[CONTCONTRACT] [char](10) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[CUI_CNP] [varchar](20) NOT NULL,
	[MOTIVMOV_OUT_IN_TEXT] [varchar](255) NULL,
	[AN] [decimal](4, 0) NOT NULL,
	[LUNA] [decimal](2, 0) NOT NULL,
	[DATA_SURSA] [datetime2](7) NOT NULL,
	[TIP_SURSA] [char](6) NOT NULL,
	[CONSUM_AN] [decimal](38, 5) NULL,
	[NUMAR] [decimal](38, 0) NULL,
	[REGIUNEPORTOFOLIU] [varchar](50) NULL,
	[SEGMENTGROUP] [char](10) NULL,
	[SEGMENT] [char](10) NULL,
	[DATACREARE] [char](10) NULL,
	[JUDET] [char](2) NULL,
	[MOTIVMOV_OUT_IN_CHEIE] [char](2) NULL,
	[FURNIZOR_NOU_ANTERIOR_TEXT] [varchar](255) NULL,
	[URBANRURAL] [char](6) NULL,
	[MOTIV_GROUP] [char](50) NULL,
	[INVOICING_PARTY] [char](50) NULL,
	[TIP_PA] [varchar](50) NULL,
 CONSTRAINT [PK_GL_MD_test] PRIMARY KEY CLUSTERED 
(
	[INSTALATIE] ASC,
	[AN] ASC,
	[LUNA] ASC,
	[TIP_SURSA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [GL_MD_IND1] ON [dbo].[GL_MD]
(
	[AN],
	[LUNA],
	[SEGMENTGROUP]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
