CREATE TABLE [dbo].[GL_CALC_NUMAR_GAINED](
	[AN] [decimal](4, 0) NOT NULL,
	[LUNA] [decimal](2, 0) NOT NULL,
	[DENUMIRE_SURSA] [varchar](255) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[SUBSEGMENT] [varchar](50) NULL,
	[IDMANAGER] [varchar](50) NULL,
	[DENUMIREMANAGER] [varchar](100) NULL,
	[PUNCTDECONSUM] [char](10) NOT NULL,
	[NUMARCONTRACT] [char](10) NOT NULL,
	[DATAMOVIN] [char](10) NOT NULL,
	[DATAMOVOUT] [char](10) NOT NULL,
	[CATEGORIETARIF] [varchar](50) NOT NULL,
	[DENUMIREDISTRIBUITOR_CHEIE] [varchar](255) NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[FURNIZOR_NOU_ANTERIOR_CHEIE] [varchar](255) NULL,
	[FURNIZOR_NOU_ANTERIOR_TEXT] [varchar](255) NULL,
	[INVOICING_PARTY] [varchar](50) NULL,
	[CUI_CNP] [varchar](20) NULL,
	[MOTIVMOV_IN_COD] [char](2) NOT NULL,
	[MOTIVMOV_IN_DESC] [varchar](255) NOT NULL,
	[CONTCONTRACT] [char](10) NOT NULL,
	[DATACREARE] [char](10) NULL,
	[URBANRURAL] [varchar](6) NULL,
	[JUDET] [varchar](50) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
	[SEGMENT] [varchar](10) NULL,
	[SEGMENTGROUP] [varchar](10) NULL,
	[MOTIV_GROUP] [varchar](50) NULL,
	[NUMAR] [float] NOT NULL,
 CONSTRAINT [PK_GL_CALC_NUMAR_GAINED] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[LUNA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[GL_CALC_NUMAR_LOST](
	[AN] [decimal](4, 0) NOT NULL,
	[LUNA] [decimal](2, 0) NOT NULL,
	[DENUMIRE_SURSA] [varchar](255) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[SUBSEGMENT] [varchar](50) NULL,
	[IDMANAGER] [varchar](50) NULL,
	[DENUMIREMANAGER] [varchar](100) NULL,
	[PUNCTDECONSUM] [char](10) NOT NULL,
	[NUMARCONTRACT] [char](10) NOT NULL,
	[DATAMOVIN] [char](10) NOT NULL,
	[DATAMOVOUT] [char](10) NOT NULL,
	[CATEGORIETARIF] [varchar](50) NOT NULL,
	[DENUMIREDISTRIBUITOR_CHEIE] [varchar](255) NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[FURNIZOR_NOU_ANTERIOR_CHEIE] [varchar](255) NULL,
	[FURNIZOR_NOU_ANTERIOR_TEXT] [varchar](255) NULL,
	[INVOICING_PARTY] [varchar](50) NULL,
	[CODCOMPANIE] [char](4) NULL,
	[CUI_CNP] [varchar](20) NULL,
	[MOTIVMOV_IN_COD] [char](2) NOT NULL,
	[MOTIVMOV_IN_DESC] [varchar](255) NOT NULL,
	[CONTCONTRACT] [char](10) NOT NULL,
	[DATACREARE] [char](10) NULL,
	[URBANRURAL] [varchar](6) NULL,
	[JUDET] [varchar](50) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
	[SEGMENT] [varchar](10) NULL,
	[SEGMENTGROUP] [varchar](10) NULL,
	[MOTIV_GROUP] [varchar](50) NULL,
	[NUMAR] [float] NOT NULL,
 CONSTRAINT [PK_GL_CALC_NUMAR_LOST] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[LUNA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[GL_CALC_TRANSF_GAINED](
	[AN] [decimal](4, 0) NOT NULL,
	[LUNA] [decimal](2, 0) NOT NULL,
	[DENUMIRE_SURSA] [varchar](255) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[SUBSEGMENT] [varchar](50) NULL,
	[IDMANAGER] [varchar](50) NULL,
	[DENUMIREMANAGER] [varchar](100) NULL,
	[PUNCTDECONSUM] [char](10) NOT NULL,
	[NUMARCONTRACT] [char](10) NOT NULL,
	[DATAMOVIN] [char](10) NOT NULL,
	[CATEGORIETARIF] [varchar](50) NOT NULL,
	[DENUMIREDISTRIBUITOR_CHEIE] [varchar](255) NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[FURNIZOR_NOU_ANTERIOR_CHEIE] [varchar](255) NULL,
	[FURNIZOR_NOU_ANTERIOR_TEXT] [varchar](255) NULL,
	[INVOICING_PARTY] [varchar](50) NULL,
	[CUI_CNP] [varchar](20) NULL,
	[MOTIVMOV_IN_COD] [char](2) NOT NULL,
	[MOTIVMOV_IN_DESC] [varchar](255) NOT NULL,
	[CONTCONTRACT] [char](10) NOT NULL,
	[DATACREARE] [char](10) NULL,
	[URBANRURAL] [varchar](6) NULL,
	[JUDET] [varchar](50) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_ID] [int] NOT NULL,
	[SEGMENT] [varchar](10) NULL,
	[SEGMENTGROUP] [varchar](10) NULL,
	[MOTIV_GROUP] [varchar](50) NULL,
 CONSTRAINT [PK_GL_CALC_TRANSF_GAINED] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[LUNA] ASC,
	[INSTALATIE] ASC,
	[MOD_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[GL_CALC_TRANSF_LOST](
	[AN] [decimal](4, 0) NOT NULL,
	[LUNA] [decimal](2, 0) NOT NULL,
	[DENUMIRE_SURSA] [varchar](255) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[SUBSEGMENT] [varchar](50) NULL,
	[IDMANAGER] [varchar](50) NULL,
	[DENUMIREMANAGER] [varchar](100) NULL,
	[PUNCTDECONSUM] [char](10) NOT NULL,
	[NUMARCONTRACT] [char](10) NOT NULL,
	[DATAMOVIN] [char](10) NOT NULL,
	[DATAMOVOUT] [char](10) NOT NULL,
	[CATEGORIETARIF] [varchar](50) NOT NULL,
	[DENUMIREDISTRIBUITOR_CHEIE] [varchar](255) NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[FURNIZOR_NOU_ANTERIOR_CHEIE] [varchar](255) NULL,
	[FURNIZOR_NOU_ANTERIOR_TEXT] [varchar](255) NULL,
	[INVOICING_PARTY] [varchar](50) NULL,
	[CODCOMPANIE] [char](4) NULL,
	[CUI_CNP] [varchar](20) NULL,
	[MOTIVMOV_IN_COD] [char](2) NOT NULL,
	[MOTIVMOV_IN_DESC] [varchar](255) NOT NULL,
	[CONTCONTRACT] [char](10) NOT NULL,
	[DATACREARE] [char](10) NULL,
	[URBANRURAL] [varchar](6) NULL,
	[JUDET] [varchar](50) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_ID] [int] NOT NULL,
	[SEGMENT] [varchar](10) NULL,
	[SEGMENTGROUP] [varchar](10) NULL,
	[MOTIV_GROUP] [varchar](50) NULL,
 CONSTRAINT [PK_GL_CALC_TRANSF_LOST] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[LUNA] ASC,
	[INSTALATIE] ASC,
	[MOD_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
